# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dll
*.pdb
*.cache
*.log

# Visual Studio
.vs/
.vscode/
*.ntvs*
*.njsproj
*.sln.iml
*.sw?
*._*
.idea/

# Angular
.angular/
dist/
node_modules/
coverage/
tmp/
out-tsc/
bazel-out/
chrome-profiler-events*.json
speed-measure-plugin*.json

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Package managers
package-lock.json
yarn.lock
# keep pnpm-lock.yaml since you're using pnpm

# Testing
/coverage
/.nyc_output
TestResults/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/
credentials.json
wwwroot/
*.
appsettings.Development.json
credentials.json
environment.development.ts
.aider*
