<div class="container">
  <div class="page-header">
    <div class="title-section">
      <h1>Mapeamento de Descrições</h1>
      <button mat-icon-button color="primary" (click)="openHelp()" matTooltip="Ajuda com padrões de mapeamento">
        <mat-icon>help_outline</mat-icon>
      </button>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="applyMappings()" [disabled]="isLoading">
        <mat-icon>auto_fix_high</mat-icon>
        Aplicar
      </button>
      <button mat-raised-button color="primary" (click)="openMappingDialog()">
        <mat-icon>add</mat-icon>
        Novo Mapeamento
      </button>
    </div>
  </div>

  <app-data-table
    [columns]="columns"
    [data]="mappings"
    [showSelection]="true"
    [actions]="actions"
    [loading]="isLoading"
    [queryConfig]="queryConfig"
    [queryGroup]="queryGroup"
    [showQueryBuilder]="showQueryBuilder"
    (queryChange)="onQueryChange($event)"
    (selectionChange)="onSelectionChange($event)"
    (actionClick)="onActionClick($event)">
  </app-data-table>
</div>