<div class="container">
  <div class="header">
    <h2>Categorias</h2>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="openCategoryDialog()">
        <mat-icon>add</mat-icon>
        Nova Categoria
      </button>
    </div>
  </div>

  <app-data-table
    [data]="categories"
    [columns]="columns"
    [actions]="actions"
    [loading]="isLoading"
    [showQueryBuilder]="showQueryBuilder"
    [queryConfig]="queryConfig"
    [queryGroup]="queryGroup"
    (actionClick)="onActionClick($event)"
    (queryChange)="onQueryChange($event)"
    (selectionChange)="onSelectionChange($event)">
  </app-data-table>
</div>